<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MINDY</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg text-bg-warning">
            <div class="container-fluid">
                <span class="navbar-brand h3 m-0 pe-2">MH-AP</span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./carrito.html">Carrito</a>
                    </li>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
                        <fieldset v-if="categories" v-for="each in categories" class="d-flex justify-content-center align-items-center f-checks">
                            <input class="m-1 s-checks" type="checkbox" :name="each" :id="each" :value="each">
                            <label :for="each">{{each.toUpperCase()}}</label>
                        </fieldset>
                    </form>
                </div>
            </div>
        </nav>
        <h1 class="m-2">{{name}}</h1>
        <h4 class="m-2">{{description}}</h4>
        <h2 class="m-2">{{subtitle}}</h2>
        <div class="d-flex flex-wrap justify-content-evenly">
            <div v-if="products" v-for="each of products" class="card m-1" style="width: 360px"> <!-- card que vamos a iterar -->
                <img v-bind:src="each.imagen" class="card-img-top img-fit" v-bind:alt="each.producto"> <!-- imagen que vamos a bindear -->
                <div class="card-body">
                    <h5 class="card-title">{{each.producto}}</h5> <!-- propiedades a interpolar -->
                    <p class="card-text">$ {{each.precio}}</p> <!-- propiedades a interpolar -->
                    <a href="#" class="btn btn-primary">Go somewhere</a> <!-- evento para detalle -->
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="./vue.js"></script>
    <script src="./app.js"></script>
</body>
</html>