* {
    box-sizing: border-box !important;
}

.f-checks {
    width: 200px;
}

.img-fit {
    width: 360px;
    height: 260px;
    object-fit: cover;
}

.img-fit-details {
    width: 100%;
    height: 260px;
    object-fit: cover;
}